@charset "UTF-8";
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.messager__container {
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  z-index: 100;
}

.top-buttons {
  width: 100%;
  height: 32px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings {
  width: 150px;
  padding: 8px;
  background-color: #fff;
  color: #202020;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.settings:hover {
  font-size: 16px;
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
  background-color: #fff;
  color: #202020;
}

.exit {
  width: 150px;
  padding: 8px;
  background-color: #fff;
  color: #202020;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.exit:hover {
  font-size: 16px;
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
  background-color: #fff;
  color: #202020;
}

.messages {
  width: 100%;
  height: 437px;
  padding: 8px;
  border-radius: 5px;
  overflow-y: scroll;
}

.messages-window {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.my-message {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  margin-top: 8px;
  background-color: #14315a;
  border-radius: 5px;
}

.my-message__name {
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.5;
  text-align: right;
}

.my-message__time {
  font-size: 12px;
  float: right;
  font-style: italic;
  margin-top: 4px;
  opacity: 0.7;
}

.friend-message {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 8px;
  margin-top: 8px;
  background-color: #486792;
  border-radius: 5px;
}

.friend-message__name {
  margin-bottom: 5px;
  font-size: 14px;
  opacity: 0.5;
  text-align: left;
}

.friend-message__time {
  float: right;
  font-style: italic;
  margin-top: 4px;
  opacity: 0.7;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}

.bottom-buttons {
  padding-left: 8px;
  margin-top: 8px;
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.text-area {
  height: 32px;
  width: 255px;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.text-area:focus {
  color: #fff;
  background-color: #14315a;
}

.send-message {
  margin-left: 8px;
  position: fixed;
  outline: none;
  /* Для синий ободки */
  border: 0;
  background: transparent;
}

.send {
  fill: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.send:hover {
  fill: #14315a;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  z-index: 3;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  z-index: 2;
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.25em;
  --top-offset: 40.78vh;
  --fall-duration: 6.239s;
  --fall-delay: 4.027s;
}

.star:nth-child(2) {
  --star-tail-length: 6.06em;
  --top-offset: 80.23vh;
  --fall-duration: 8.463s;
  --fall-delay: 6.497s;
}

.star:nth-child(3) {
  --star-tail-length: 5.83em;
  --top-offset: 33.85vh;
  --fall-duration: 11.73s;
  --fall-delay: 3.52s;
}

.star:nth-child(4) {
  --star-tail-length: 7.16em;
  --top-offset: 32vh;
  --fall-duration: 6.12s;
  --fall-delay: 9.211s;
}

.star:nth-child(5) {
  --star-tail-length: 7.01em;
  --top-offset: 88.89vh;
  --fall-duration: 8.503s;
  --fall-delay: 3.875s;
}

.star:nth-child(6) {
  --star-tail-length: 5.49em;
  --top-offset: 63.18vh;
  --fall-duration: 6.16s;
  --fall-delay: 4.462s;
}

.star:nth-child(7) {
  --star-tail-length: 5.74em;
  --top-offset: 70.09vh;
  --fall-duration: 7.157s;
  --fall-delay: 6.071s;
}

.star:nth-child(8) {
  --star-tail-length: 7.31em;
  --top-offset: 75.69vh;
  --fall-duration: 6.098s;
  --fall-delay: 6.812s;
}

.star:nth-child(9) {
  --star-tail-length: 6.57em;
  --top-offset: 2.97vh;
  --fall-duration: 8.64s;
  --fall-delay: 5.353s;
}

.star:nth-child(10) {
  --star-tail-length: 5.69em;
  --top-offset: 37.83vh;
  --fall-duration: 10.602s;
  --fall-delay: 0.571s;
}

.star:nth-child(11) {
  --star-tail-length: 5.27em;
  --top-offset: 41.31vh;
  --fall-duration: 10.354s;
  --fall-delay: 0.076s;
}

.star:nth-child(12) {
  --star-tail-length: 6.89em;
  --top-offset: 80.76vh;
  --fall-duration: 11.818s;
  --fall-delay: 4.87s;
}

.star:nth-child(13) {
  --star-tail-length: 6.22em;
  --top-offset: 37vh;
  --fall-duration: 7.812s;
  --fall-delay: 6.432s;
}

.star:nth-child(14) {
  --star-tail-length: 5.46em;
  --top-offset: 11.59vh;
  --fall-duration: 6.655s;
  --fall-delay: 7.635s;
}

.star:nth-child(15) {
  --star-tail-length: 5.18em;
  --top-offset: 22.17vh;
  --fall-duration: 7.226s;
  --fall-delay: 0.688s;
}

.star:nth-child(16) {
  --star-tail-length: 7.24em;
  --top-offset: 82.74vh;
  --fall-duration: 11.265s;
  --fall-delay: 8.855s;
}

.star:nth-child(17) {
  --star-tail-length: 6.12em;
  --top-offset: 46.37vh;
  --fall-duration: 10.974s;
  --fall-delay: 8.167s;
}

.star:nth-child(18) {
  --star-tail-length: 5.23em;
  --top-offset: 40.68vh;
  --fall-duration: 9.278s;
  --fall-delay: 1.153s;
}

.star:nth-child(19) {
  --star-tail-length: 6.28em;
  --top-offset: 18.61vh;
  --fall-duration: 9.362s;
  --fall-delay: 7.967s;
}

.star:nth-child(20) {
  --star-tail-length: 7.05em;
  --top-offset: 37.39vh;
  --fall-duration: 10.521s;
  --fall-delay: 4.265s;
}

.star:nth-child(21) {
  --star-tail-length: 6.05em;
  --top-offset: 56.7vh;
  --fall-duration: 11.46s;
  --fall-delay: 8.667s;
}

.star:nth-child(22) {
  --star-tail-length: 5.9em;
  --top-offset: 78.71vh;
  --fall-duration: 10.708s;
  --fall-delay: 5.95s;
}

.star:nth-child(23) {
  --star-tail-length: 6.43em;
  --top-offset: 57.74vh;
  --fall-duration: 7.285s;
  --fall-delay: 5.478s;
}

.star:nth-child(24) {
  --star-tail-length: 7.13em;
  --top-offset: 85.07vh;
  --fall-duration: 11.552s;
  --fall-delay: 4.735s;
}

.star:nth-child(25) {
  --star-tail-length: 7.27em;
  --top-offset: 64.2vh;
  --fall-duration: 7.248s;
  --fall-delay: 8.109s;
}

.star:nth-child(26) {
  --star-tail-length: 7.29em;
  --top-offset: 2.7vh;
  --fall-duration: 10.711s;
  --fall-delay: 9.687s;
}

.star:nth-child(27) {
  --star-tail-length: 6.87em;
  --top-offset: 36.82vh;
  --fall-duration: 9.098s;
  --fall-delay: 3.521s;
}

.star:nth-child(28) {
  --star-tail-length: 6.27em;
  --top-offset: 80.6vh;
  --fall-duration: 10.091s;
  --fall-delay: 0.134s;
}

.star:nth-child(29) {
  --star-tail-length: 5.86em;
  --top-offset: 32.86vh;
  --fall-duration: 9.69s;
  --fall-delay: 3.862s;
}

.star:nth-child(30) {
  --star-tail-length: 7.19em;
  --top-offset: 11.51vh;
  --fall-duration: 10.924s;
  --fall-delay: 2.874s;
}

.star:nth-child(31) {
  --star-tail-length: 5.71em;
  --top-offset: 59.75vh;
  --fall-duration: 9.39s;
  --fall-delay: 9.378s;
}

.star:nth-child(32) {
  --star-tail-length: 5.11em;
  --top-offset: 54.55vh;
  --fall-duration: 11.75s;
  --fall-delay: 2.924s;
}

.star:nth-child(33) {
  --star-tail-length: 6.67em;
  --top-offset: 14.42vh;
  --fall-duration: 6.803s;
  --fall-delay: 5.094s;
}

.star:nth-child(34) {
  --star-tail-length: 5.9em;
  --top-offset: 33.51vh;
  --fall-duration: 7.347s;
  --fall-delay: 8.508s;
}

.star:nth-child(35) {
  --star-tail-length: 5.28em;
  --top-offset: 56.06vh;
  --fall-duration: 11.825s;
  --fall-delay: 6.699s;
}

.star:nth-child(36) {
  --star-tail-length: 6.36em;
  --top-offset: 70.38vh;
  --fall-duration: 7.154s;
  --fall-delay: 3.165s;
}

.star:nth-child(37) {
  --star-tail-length: 5.13em;
  --top-offset: 8.45vh;
  --fall-duration: 11.252s;
  --fall-delay: 0.119s;
}

.star:nth-child(38) {
  --star-tail-length: 7.25em;
  --top-offset: 94.4vh;
  --fall-duration: 10.809s;
  --fall-delay: 1.586s;
}

.star:nth-child(39) {
  --star-tail-length: 5.57em;
  --top-offset: 38.85vh;
  --fall-duration: 6.006s;
  --fall-delay: 6.531s;
}

.star:nth-child(40) {
  --star-tail-length: 6.53em;
  --top-offset: 37.68vh;
  --fall-duration: 8.684s;
  --fall-delay: 3.529s;
}

.star:nth-child(41) {
  --star-tail-length: 6.81em;
  --top-offset: 78.87vh;
  --fall-duration: 7.69s;
  --fall-delay: 7.203s;
}

.star:nth-child(42) {
  --star-tail-length: 5.57em;
  --top-offset: 61.21vh;
  --fall-duration: 7.856s;
  --fall-delay: 1.385s;
}

.star:nth-child(43) {
  --star-tail-length: 6.4em;
  --top-offset: 22.92vh;
  --fall-duration: 11.99s;
  --fall-delay: 6.942s;
}

.star:nth-child(44) {
  --star-tail-length: 6.28em;
  --top-offset: 56.93vh;
  --fall-duration: 10.341s;
  --fall-delay: 0.689s;
}

.star:nth-child(45) {
  --star-tail-length: 6.53em;
  --top-offset: 3.7vh;
  --fall-duration: 8.306s;
  --fall-delay: 3.632s;
}

.star:nth-child(46) {
  --star-tail-length: 5.06em;
  --top-offset: 45.4vh;
  --fall-duration: 11.472s;
  --fall-delay: 7.776s;
}

.star:nth-child(47) {
  --star-tail-length: 6.11em;
  --top-offset: 25.7vh;
  --fall-duration: 11.05s;
  --fall-delay: 5.144s;
}

.star:nth-child(48) {
  --star-tail-length: 5.09em;
  --top-offset: 3.66vh;
  --fall-duration: 9.532s;
  --fall-delay: 8.913s;
}

.star:nth-child(49) {
  --star-tail-length: 5.62em;
  --top-offset: 23.48vh;
  --fall-duration: 9.778s;
  --fall-delay: 4.365s;
}

.star:nth-child(50) {
  --star-tail-length: 5.54em;
  --top-offset: 16.24vh;
  --fall-duration: 9.934s;
  --fall-delay: 5.446s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.popup_container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.popup_container.show {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  background-color: #FFF;
  width: 260px;
  height: 180px;
  max-width: 100%;
  padding: 14px;
  border-radius: 10px;
}

.popup_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  color: #202020;
}

.popup_name {
  font-size: 18px;
}

.popup_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  font-size: 26px;
  background-color: inherit;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #486792;
  color: #fff;
}

.popup_close:hover {
  background-color: #fff;
  color: #202020;
}

.popup_main {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_main-text {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #14315a;
}

.popup_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_main_input {
  font-size: 16px;
  height: 32px;
  width: 220px;
  border-radius: 5px;
  background-color: #486792;
  padding-left: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.popup_main_input::-webkit-input-placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input:-ms-input-placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input::-ms-input-placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input::placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input:focus {
  color: #fff;
  background-color: #14315a;
}

.popup_main-button {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #d2e5ff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.popup_main-button:hover {
  background-color: #486792;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */