@charset "UTF-8";
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.messager__container {
  width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  border-radius: 5px;
  z-index: 100;
}

.top-buttons {
  width: 100%;
  height: 32px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settings {
  width: 150px;
  padding: 8px;
  background-color: #fff;
  color: #202020;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.settings:hover {
  font-size: 16px;
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
  background-color: #fff;
  color: #202020;
}

.exit {
  width: 150px;
  padding: 8px;
  background-color: #fff;
  color: #202020;
  border-radius: 5px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.exit:hover {
  font-size: 16px;
  -webkit-transform: scale(0.98, 0.98);
          transform: scale(0.98, 0.98);
  background-color: #fff;
  color: #202020;
}

.messages {
  width: 100%;
  height: 437px;
  padding: 8px;
  border-radius: 5px;
  overflow-y: scroll;
}

.messages-window {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.my-message {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px;
  margin-top: 8px;
  background-color: #14315a;
  border-radius: 5px;
}

.my-message__time {
  float: right;
  font-style: italic;
  margin-top: 4px;
  opacity: 0.7;
}

.friend-message {
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 8px;
  margin-top: 8px;
  background-color: #486792;
  border-radius: 5px;
}

.friend-message__time {
  float: right;
  font-style: italic;
  margin-top: 4px;
  opacity: 0.7;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #fff;
}

.bottom-buttons {
  padding-left: 8px;
  margin-top: 8px;
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.text-area {
  height: 32px;
  width: 255px;
  border-radius: 5px;
  background-color: #fff;
  padding-left: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.text-area:focus {
  color: #fff;
  background-color: #14315a;
}

.send-message {
  margin-left: 8px;
  position: fixed;
  outline: none;
  /* Для синий ободки */
  border: 0;
  background: transparent;
}

.send {
  fill: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.send:hover {
  fill: #14315a;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
  z-index: 3;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  z-index: 2;
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 6px currentColor);
          filter: drop-shadow(0 0 6px currentColor);
  -webkit-transform: translate3d(104em, 0, 0);
          transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 5.7em;
  --top-offset: 49.29vh;
  --fall-duration: 10.362s;
  --fall-delay: 6.94s;
}

.star:nth-child(2) {
  --star-tail-length: 5em;
  --top-offset: 92.59vh;
  --fall-duration: 6.73s;
  --fall-delay: 1.416s;
}

.star:nth-child(3) {
  --star-tail-length: 6.69em;
  --top-offset: 75.75vh;
  --fall-duration: 8.254s;
  --fall-delay: 0.905s;
}

.star:nth-child(4) {
  --star-tail-length: 6.09em;
  --top-offset: 19.76vh;
  --fall-duration: 6.34s;
  --fall-delay: 1.895s;
}

.star:nth-child(5) {
  --star-tail-length: 5.94em;
  --top-offset: 70.46vh;
  --fall-duration: 7.116s;
  --fall-delay: 5.304s;
}

.star:nth-child(6) {
  --star-tail-length: 5.74em;
  --top-offset: 95.59vh;
  --fall-duration: 9.408s;
  --fall-delay: 1.114s;
}

.star:nth-child(7) {
  --star-tail-length: 7.2em;
  --top-offset: 48.1vh;
  --fall-duration: 9.506s;
  --fall-delay: 7.841s;
}

.star:nth-child(8) {
  --star-tail-length: 5.3em;
  --top-offset: 29.83vh;
  --fall-duration: 11.548s;
  --fall-delay: 0.562s;
}

.star:nth-child(9) {
  --star-tail-length: 5.48em;
  --top-offset: 30.67vh;
  --fall-duration: 10.008s;
  --fall-delay: 5.436s;
}

.star:nth-child(10) {
  --star-tail-length: 7.06em;
  --top-offset: 42.39vh;
  --fall-duration: 9.018s;
  --fall-delay: 0.493s;
}

.star:nth-child(11) {
  --star-tail-length: 5.82em;
  --top-offset: 27.97vh;
  --fall-duration: 7.475s;
  --fall-delay: 8.725s;
}

.star:nth-child(12) {
  --star-tail-length: 6.77em;
  --top-offset: 93.4vh;
  --fall-duration: 7.01s;
  --fall-delay: 3.524s;
}

.star:nth-child(13) {
  --star-tail-length: 6.45em;
  --top-offset: 99.3vh;
  --fall-duration: 9.655s;
  --fall-delay: 7.006s;
}

.star:nth-child(14) {
  --star-tail-length: 5.49em;
  --top-offset: 37.89vh;
  --fall-duration: 6.991s;
  --fall-delay: 0.701s;
}

.star:nth-child(15) {
  --star-tail-length: 5.58em;
  --top-offset: 11.7vh;
  --fall-duration: 10.757s;
  --fall-delay: 8.041s;
}

.star:nth-child(16) {
  --star-tail-length: 7.4em;
  --top-offset: 21.56vh;
  --fall-duration: 9.194s;
  --fall-delay: 7.409s;
}

.star:nth-child(17) {
  --star-tail-length: 5.08em;
  --top-offset: 46.96vh;
  --fall-duration: 8.291s;
  --fall-delay: 5.652s;
}

.star:nth-child(18) {
  --star-tail-length: 6.93em;
  --top-offset: 52.32vh;
  --fall-duration: 8.791s;
  --fall-delay: 0.331s;
}

.star:nth-child(19) {
  --star-tail-length: 5.25em;
  --top-offset: 55.22vh;
  --fall-duration: 7.078s;
  --fall-delay: 0.251s;
}

.star:nth-child(20) {
  --star-tail-length: 5.19em;
  --top-offset: 42.51vh;
  --fall-duration: 10.505s;
  --fall-delay: 8.938s;
}

.star:nth-child(21) {
  --star-tail-length: 5.48em;
  --top-offset: 78.07vh;
  --fall-duration: 8.52s;
  --fall-delay: 1.3s;
}

.star:nth-child(22) {
  --star-tail-length: 7.25em;
  --top-offset: 86.52vh;
  --fall-duration: 11.142s;
  --fall-delay: 1.067s;
}

.star:nth-child(23) {
  --star-tail-length: 5.23em;
  --top-offset: 61vh;
  --fall-duration: 10.054s;
  --fall-delay: 7.424s;
}

.star:nth-child(24) {
  --star-tail-length: 5.24em;
  --top-offset: 65.59vh;
  --fall-duration: 7.929s;
  --fall-delay: 0.709s;
}

.star:nth-child(25) {
  --star-tail-length: 6.38em;
  --top-offset: 1.94vh;
  --fall-duration: 8.105s;
  --fall-delay: 4.224s;
}

.star:nth-child(26) {
  --star-tail-length: 7.21em;
  --top-offset: 3.71vh;
  --fall-duration: 6.821s;
  --fall-delay: 6.148s;
}

.star:nth-child(27) {
  --star-tail-length: 6.68em;
  --top-offset: 43.1vh;
  --fall-duration: 9.03s;
  --fall-delay: 1.79s;
}

.star:nth-child(28) {
  --star-tail-length: 7.26em;
  --top-offset: 48.56vh;
  --fall-duration: 7.527s;
  --fall-delay: 7.349s;
}

.star:nth-child(29) {
  --star-tail-length: 5.96em;
  --top-offset: 32.22vh;
  --fall-duration: 6.622s;
  --fall-delay: 9.981s;
}

.star:nth-child(30) {
  --star-tail-length: 7.18em;
  --top-offset: 88.06vh;
  --fall-duration: 9.629s;
  --fall-delay: 0.037s;
}

.star:nth-child(31) {
  --star-tail-length: 5.86em;
  --top-offset: 42.75vh;
  --fall-duration: 8.858s;
  --fall-delay: 7.269s;
}

.star:nth-child(32) {
  --star-tail-length: 6.7em;
  --top-offset: 96.42vh;
  --fall-duration: 6.584s;
  --fall-delay: 2.554s;
}

.star:nth-child(33) {
  --star-tail-length: 6.53em;
  --top-offset: 83.18vh;
  --fall-duration: 6.391s;
  --fall-delay: 7.408s;
}

.star:nth-child(34) {
  --star-tail-length: 7.29em;
  --top-offset: 30.05vh;
  --fall-duration: 7.683s;
  --fall-delay: 3.442s;
}

.star:nth-child(35) {
  --star-tail-length: 5.53em;
  --top-offset: 61.48vh;
  --fall-duration: 6.677s;
  --fall-delay: 3.471s;
}

.star:nth-child(36) {
  --star-tail-length: 7.02em;
  --top-offset: 1.34vh;
  --fall-duration: 8.838s;
  --fall-delay: 2.462s;
}

.star:nth-child(37) {
  --star-tail-length: 6.12em;
  --top-offset: 12.78vh;
  --fall-duration: 6.754s;
  --fall-delay: 3.383s;
}

.star:nth-child(38) {
  --star-tail-length: 6.57em;
  --top-offset: 88.02vh;
  --fall-duration: 7.161s;
  --fall-delay: 8.79s;
}

.star:nth-child(39) {
  --star-tail-length: 7.25em;
  --top-offset: 13.5vh;
  --fall-duration: 8.731s;
  --fall-delay: 4.544s;
}

.star:nth-child(40) {
  --star-tail-length: 5.52em;
  --top-offset: 95.65vh;
  --fall-duration: 11.379s;
  --fall-delay: 1.036s;
}

.star:nth-child(41) {
  --star-tail-length: 5.77em;
  --top-offset: 12.56vh;
  --fall-duration: 8.584s;
  --fall-delay: 1.677s;
}

.star:nth-child(42) {
  --star-tail-length: 6.3em;
  --top-offset: 3.87vh;
  --fall-duration: 8.116s;
  --fall-delay: 6.412s;
}

.star:nth-child(43) {
  --star-tail-length: 6.61em;
  --top-offset: 52.93vh;
  --fall-duration: 7.904s;
  --fall-delay: 3.976s;
}

.star:nth-child(44) {
  --star-tail-length: 5.07em;
  --top-offset: 62.18vh;
  --fall-duration: 10.256s;
  --fall-delay: 4.438s;
}

.star:nth-child(45) {
  --star-tail-length: 6.96em;
  --top-offset: 86.69vh;
  --fall-duration: 9.698s;
  --fall-delay: 3.241s;
}

.star:nth-child(46) {
  --star-tail-length: 6.32em;
  --top-offset: 62.44vh;
  --fall-duration: 10.627s;
  --fall-delay: 1.852s;
}

.star:nth-child(47) {
  --star-tail-length: 5.34em;
  --top-offset: 76.38vh;
  --fall-duration: 11.559s;
  --fall-delay: 2.729s;
}

.star:nth-child(48) {
  --star-tail-length: 6.6em;
  --top-offset: 18.31vh;
  --fall-duration: 7.304s;
  --fall-delay: 9.026s;
}

.star:nth-child(49) {
  --star-tail-length: 7.08em;
  --top-offset: 75.35vh;
  --fall-duration: 11.334s;
  --fall-delay: 5.862s;
}

.star:nth-child(50) {
  --star-tail-length: 7.04em;
  --top-offset: 97.11vh;
  --fall-duration: 10.668s;
  --fall-delay: 5.637s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}

.star::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.star::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    -webkit-transform: translate3d(-30em, 0, 0);
            transform: translate3d(-30em, 0, 0);
  }
}

@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}

.popup_container {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.popup_container.show {
  opacity: 1;
  pointer-events: auto;
}

.popup {
  background-color: #FFF;
  width: 260px;
  height: 180px;
  max-width: 100%;
  padding: 14px;
  border-radius: 10px;
}

.popup_header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 30px;
  color: #202020;
}

.popup_name {
  font-size: 18px;
}

.popup_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  position: absolute;
  right: 0;
  font-size: 26px;
  background-color: inherit;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: #486792;
  color: #fff;
}

.popup_close:hover {
  background-color: #fff;
  color: #202020;
}

.popup_main {
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_main-text {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #14315a;
}

.popup_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup_main_input {
  font-size: 16px;
  height: 32px;
  width: 220px;
  border-radius: 5px;
  background-color: #486792;
  padding-left: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.popup_main_input::-webkit-input-placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input:-ms-input-placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input::-ms-input-placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input::placeholder {
  opacity: 0.7;
  color: #fff;
}

.popup_main_input:focus {
  color: #fff;
  background-color: #14315a;
}

.popup_main-button {
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #d2e5ff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.popup_main-button:hover {
  background-color: #486792;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */